/*default customization*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
}

/*set nav bar color*/
.navbar-default {
  background: #e4e2e2;
}

.navbar-inverse {
  background-color: none;
  border: 0px;
}
/*set navbar vorder*/
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle {
  border-color: #e4e2e2;
}
/*set navbar color when we focus on him*/
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background: #e4e2e2;
  border-color: #e4e2e2;
  outline-color: transparent;
}

/*           Animations              */

.form-control, .input-group-addon, .tagsinput, .navbar, .navbar .alert {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}
/*navbar background image pattern and color*/
.navbar {
  min-height: 80px;
  background: url('./../img/pattern.png');
  background-color: #d4caca;
}

.vertical-center {
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbar-nav {
  margin-top: 5px;
}

.nav-container {
  margin: 0px 2%;
}
/*default border color of the btn*/
.btn {
  border-color: #848c94;
}

.btn, .navbar .navbar-nav>li>a.btn {
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 2px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: sans-serif;
  padding: 7px 18px;
  color: #848c94;
  width: 125px;
  -webkit-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  transition: all 150ms linear;
}

.btn.btn-fill, .navbar .navbar-nav>li>a.btn.btn-fill {
  color: #FFFFFF;
  background-color: #848c94;
  opacity: 1;
  filter: alpha(opacity=100);
}

.btn.btn-fill .caret, .navbar .navbar-nav>li>a.btn.btn-fill .caret {
  border-top-color: #FFFFFF;
}

.btn.btn-simple .caret, .navbar .navbar-nav>li>a.btn.btn-simple .caret {
  border-top-color: #FFFFFF;
}

.btn .caret, .navbar .navbar-nav>li>a.btn .caret {
  border-top-color: #848c94;
}

.btn:hover, .btn:focus, .navbar .navbar-nav>li>a.btn:hover, .navbar .navbar-nav>li>a.btn:focus {
  outline: 0 !important;
}

.btn:active, .btn.active, .open>.btn.dropdown-toggle, .navbar .navbar-nav>li>a.btn:active, .navbar .navbar-nav>li>a.btn.active, .open>.navbar .navbar-nav>li>a.btn.dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}

.btn.btn-icon, .navbar .navbar-nav>li>a.btn.btn-icon {
  padding: 7px;
}

.btn i, .navbar .navbar-nav>li>a.btn i {
  margin-right: 5px;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
  margin-left: -2px;
}
/*button primary color & border*/
.navbar .navbar-nav>li>a.btn-primary, .btn-primary {
  border-color: #7A9E9F;
  color: #7A9E9F;
}
/*button fill background and color*/
.navbar .navbar-nav>li>a.btn-primary.btn-fill, .btn-primary.btn-fill {
  color: #FFFFFF;
  background-color: #7A9E9F;
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar .navbar-nav>li>a.btn-primary.btn-fill .caret, .btn-primary.btn-fill .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-primary.btn-simple .caret, .btn-primary.btn-simple .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-primary .caret, .btn-primary .caret {
  border-top-color: #7A9E9F;
}

.navbar .navbar-nav>li>a.btn-success, .btn-success {
  border-color: #7AC29A;
  color: #7AC29A;
}

.navbar .navbar-nav>li>a.btn-success.btn-fill, .btn-success.btn-fill {
  color: #FFFFFF;
  background-color: #7AC29A;
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar .navbar-nav>li>a.btn-success.btn-fill .caret, .btn-success.btn-fill .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-success.btn-simple .caret, .btn-success.btn-simple .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-success .caret, .btn-success .caret {
  border-top-color: #7AC29A;
}

.navbar .navbar-nav>li>a.btn-info, .btn-info {
  border-color: #68B3C8;
  color: #68B3C8;
}

.navbar .navbar-nav>li>a.btn-info.btn-fill, .btn-info.btn-fill {
  color: #FFFFFF;
  background-color: #68B3C8;
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar .navbar-nav>li>a.btn-info.btn-fill .caret, .btn-info.btn-fill .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-info.btn-simple .caret, .btn-info.btn-simple .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-info .caret, .btn-info .caret {
  border-top-color: #68B3C8;
}

.navbar .navbar-nav>li>a.btn-warning, .btn-warning {
  border-color: #F3BB45;
  color: #F3BB45;
}

.navbar .navbar-nav>li>a.btn-warning.btn-fill, .btn-warning.btn-fill {
  color: #FFFFFF;
  background-color: #F3BB45;
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar .navbar-nav>li>a.btn-warning.btn-fill .caret, .btn-warning.btn-fill .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-warning.btn-simple .caret, .btn-warning.btn-simple .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-warning .caret, .btn-warning .caret {
  border-top-color: #F3BB45;
}

.navbar .navbar-nav>li>a.btn-danger, .btn-danger {
  border-color: #EB5E28;
  color: #EB5E28;
}

.navbar .navbar-nav>li>a.btn-danger.btn-fill, .btn-danger.btn-fill {
  color: #FFFFFF;
  background-color: #EB5E28;
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar .navbar-nav>li>a.btn-danger.btn-fill .caret, .btn-danger.btn-fill .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-danger.btn-simple .caret, .btn-danger.btn-simple .caret {
  border-top-color: #FFFFFF;
}

.navbar .navbar-nav>li>a.btn-danger .caret, .btn-danger .caret {
  border-top-color: #EB5E28;
}

/*left side background pattern*/

.left-side {
  background: url("./../img/pattern.png");
  background-color: #d4caca;
}

.shadow {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.auth-card {
  width: 60%;
  margin-top: 80px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.clear-padding {
  padding: 0px;
}

.left-side, .right-side {
  height: inherit;
  padding: 0px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: inherit;
}
/*customization of text in card (font,color ,size)*/
.card-content .text {
  font-size: 35px;
  font-weight: bold;
  color: #848c94;
  font-family: sans-serif;
}

.content-area {
  margin-bottom: 20px;
}

.btn-auth {
  width: 50%;
  height: 43px;
  color: #fff;
}

.btn-auth i {
  float: left;
  font-size: 18px;
}
/*social buttons customization*/
.btn-facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:hover {
  color: #3b5998;
  border-color: #3b5998;
  background-color: #fff;
}

.btn-google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.btn-google:hover {
  color: #dd4b39;
  border-color: #dd4b39;
  background-color: #fff;
}

.btn-email {
  color: #b3b0b0;
  border: 1px solid #b3b0b0;
}

.btn-email:hover {
  color: #000;
  border-color: #000;
  background-color: #fff
}
/*logo size*/
.logo {
  width: 100px;
}

/*----------------WIZARD-----------------*/

.nav-pills {
  background-color: #fff;
}

.wizard-card .icon-circle {
  width: 25px;
  height: 25px;
}

.wizard-card, .card {
  box-shadow: none;
}

.nav .nav-pills li {
  width: 25px!important;
}

.nav-pills>li.active>a:after {
  width: 25px;
  height: 25px;
}

.wizard-card .wizard-navigation, .nav-pills {
  position: inherit;
}

.nav-pills {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wizard-container {
  padding-top: 60px;
}

.wizard-card .tab-content {
  padding-top: 5px;
}
/*wizrd text customization*/
.wizard-card .info-text {
  font-size: 25px;
  font-weight: bold;
  color: #848c94;
}
/*wizrd form input customization*/
.form-control {
  height: 45px;
  background-color: #fff;
  background-color: #fff;
  border-radius: 25px;
  border: 1px solid #848c94;
  color: #848c94;
}

select {
  border-radius: 25px;
  background: #fff;
}
/*wizard input placeholder customaiztion*/
.form-control::placeholder {
  color: #848c94;
  font-weight: bold;
}

.form-group {
  margin-bottom: 25px;
}

.navbar .navbar-nav>li>a.btn-primary.btn-fill, .btn-primary.btn-fill {
  color: #FFFFFF;
  background-color: #848c94;
  border-color: #848c94;
}

.wizard-card[data-color="azure"] .nav-pills .icon-circle.checked {
  border: 0px;
}
/*radio btn customization*/
.icon-circle span {
  color: #848c94;
  font-size: 15px;
  position: relative;
  bottom: 3px;
}

.wizard-card .icon-circle {
  border: 0px;
  background-color: #F3F2EE;
}

.nav-pills .active .icon-circle {
  background-color: #848c94;
}

.nav-pills .active .icon-circle span {
  color: #fff;
}

.wizard-card[data-color="azure"] .nav-pills>li.active>a:after {
  background-color: rgba(132, 140, 148, 0);
  visibility: hidden;
}

.btn-previous {
  border-color: #848c94;
  color: #848c94;
}

.btn-previous:hover {
  background-color: #848c94;
  border-color: #848c94;
}

.password-label {
  color: #adaca9;
  font-size: 12px;
  margin: 0px;
  padding: 0px;
  height: 13px;
  margin-left: 15px;
  position: absolute;
}

.working-time-title {
  padding-left: 12px;
  color: #848c94;
  font-weight: bold;
}

.hours-container {
  display: flex;
  flex-direction: row;
}

.hours {
  width: 45px;
}
 /*btn where we select hours*/
.hours-btn {
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 1px solid #848c94;
  margin: auto;
  margin-bottom: 5px;
  cursor: pointer;
}

.hours-title {
  margin: 0px;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;
  color: #848c94;
  text-align: -webkit-center;
  text-align: center;
}

.hours-footer {
  font-size: 10px;
  text-align: end;
  color: #848c94;
}
/*button where we select hours*/
.set-hours {
  width: 90px;
  height: 32px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  margin-left: 5px;
  background-color: #848c94;
  color: #fff;
  border: 0px;
}

.set-hours:hover {
  border: 0px;
  background: #fff;
  border: 1px solid #848c94;
  color: #848c94;
}

.pull-right {
  margin-left: 25px;
}

.pull-left {
  margin-right: 25px;
}

.form-control {
  font-weight: bold;
}

.datepicker {
  padding-left: 15px;
}

.nav .btn-simple:hover {
  color: #848c94;
  border: 1px solid #848c94;
}

.check {
  position: relative;
  bottom: 4px;
  color: #848c94;
  visibility: hidden;
}

.active {
  visibility: visible;
}

.wizard-footer {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

#wizard-card {
  display: none;
}

#login-card {
  height: 70vh;
}
