@media (max-width:1280px) {
  .pull-right {
    margin-left: 10px
  }
  .pull-left {
    margin-right: 10px;
  }
}
@media (max-width:1024px) {
  .btn-wd {
    min-width: 115px;
    width: 115px;
  }
}
@media (max-width:1024px) and (min-width:769px) {
  .wizard-footer {
    width: 380px;
    margin-left: 20%;
  }
  .card-content .text {
    font-size: 30px;
  }
}

/*@media (max-width: 1024px) {
  .card-content .text {
    font-size: 30px;
  }
}*/

@media (min-width: 768px) {
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 45px;
  }
}

@media (max-width: 768px) {
  .auth-card {
    overflow: visible;
    margin-top: 50px;
  }
  #login-card {
    height: 40vh;
  }
  /*.wizard-container {
    height: 70vh;
  }*/
  .hours-container {
    flex-wrap: wrap;
  }
  .left-side {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .right-side {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.5);
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
    padding: 10px;
  }
}

@media (max-width: 425px) {
  .navbar-default .navbar-toggle {
    margin-top: 25px;
    border: none;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #777575;
  }
}

@media (max-width: 425px) {
  .auth-card {
    width: 85%;
  }
  .btn-auth {
    width: 70%;
  }
  .set-hours {
    margin-top: 15px;
  }
}

@media (max-width: 320px) {
  .card-content .text {
    font-size: 25px;
  }
  .content-area {
    margin-bottom: 15px;
  }
  .logo {
    width: 100px;
  }
  .auth-card {
    margin-top: 15px;
  }
  .hours-container {
    flex-wrap: nowrap;
  }
  .working-time-title {
    padding: 0px;
  }
  .set-hours-btn {
    position: absolute;
    top: -5px;
    right: 0px;
  }
  .set-hours {
    margin-top: 0px;
    width: 85px;
  }
  .wizard-footer {
    display: flex;
    flex-direction: column;
  }
  .pull-left,.pull-right {
    display: flex;
    justify-content: center;
    margin: 0px;
    float: none;
    margin-bottom: 10px;
  }
  .wizard-card .info-text {
    font-size: 16px;
    padding: 0px;
  }
  .form-group {
    margin-bottom: 15px;
  }
}
